<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <Services>
        <DHCPAdGuardSync VisibleName="DHCP AdGuard Sync" cssClass="fa fa-refresh fa-fw">
            <General order="10" url="/ui/dhcpadguardsync"/>
            <LogFile VisibleName="Log File" order="100" url="/ui/diagnostics/log/core/dhcp-adguard-sync"/>
        </DHCPAdGuardSync>
    </Services>
</menu>
