<?xml version="1.0" encoding="UTF-8"?>
<acl>
    <page-services-dhcpadguardsync>
        <name>Services: DHCP AdGuard Sync</name>
        <description>Allow access to the DHCP AdGuard Sync module</description>
        <patterns>
            <pattern>ui/dhcpadguardsync/*</pattern>
            <pattern>api/dhcpadguardsync/*</pattern>
        </patterns>
    </page-services-dhcpadguardsync>
</acl>
